.title {
  margin: 0 0 0 40px;
  text-align: left;
  width: 550px;
}

section{
  padding: 30px 0px;
}

.device {
  align-items: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  border-radius: 7px !important;
  margin-left: 10%;
  margin-top: 15px;
  box-shadow: 0px 1px 17px 0px rgba(0,0,0,.65);
}
.forms-device {
  width: 380px;
  cursor: pointer;
  align-items: center;
  box-sizing: border-box;
  display: block !important;
}
.form-group div .mat-form-field {
  width: 100% !important;
  display: block !important;
}
.mat-form-field {
  width: 100% !important;
  display: block !important;
}
.form-group button {
  margin-left: 30px !important;
}
.title-line {
  background: red;
  height: 3.5px;
  width: 120px;
}
.background-1 {
  margin-left: 15%;
}
